n8n/inbound_workflow.json
{
  "name": "Tribeca Inbound (Reply -> App)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "simple": true,
        "filters": {}
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [-160, 300],
      "notesInFlow": true,
      "notes": "Re-attach Gmail OAuth credential after import. Polls ~every minute (≈1 min latency)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-subject",
              "leftValue": "={{ $json.subject || $json.Subject || '' }}",
              "rightValue": "[Tribeca Task #",
              "operator": { "type": "string", "operation": "contains" }
            }
          ]
        },
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Subject contains tag?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "jsCode": "// Turn an inbound email into a reply payload for /inbound.\n// Only genuine REPLIES are processed: the original notification has no \"Re:\" prefix,\n// so requiring \"Re:\" prevents our own outbound email from being stored as the reply.\n// NOTE: quote/signature stripping is a heuristic — fine for controlled test accounts.\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const subject = String(j.subject || j.Subject || (j.headers && (j.headers.subject || j.headers.Subject)) || '');\n\n  // Must carry the task tag.\n  const m = subject.match(/#([A-Za-z0-9]+)/);\n  if (!m) continue;\n  const task_id = m[1];\n\n  // Must be a reply, not the original notification. Replies are prefixed \"Re:\".\n  if (!/\\bre\\s*:/i.test(subject)) continue;\n\n  // Source the body; if only HTML is available, turn it into text, then decode entities.\n  let raw = String(j.text || j.textPlain || j.body || j.html || j.textAsHtml || j.snippet || '');\n  raw = raw.replace(/<\\s*br\\s*\\/?>/gi, '\\n').replace(/<\\/(p|div|tr|li|h[1-6])>/gi, '\\n').replace(/<[^>]+>/g, '');\n  raw = raw.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\").replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&');\n\n  // Cut quoted history at the earliest marker (works for multi-line AND single-line snippet bodies).\n  const markers = [\n    /\\n?\\s*On\\s.+?\\swrote:/is,                 // Gmail \"On <date> ... wrote:\"\n    /\\n-{2,}\\s*Original Message\\s*-{2,}/i,      // Outlook\n    /\\n>/,                                       // quoted line\n    /\\nFrom:\\s/                                  // forwarded header block\n  ];\n  let idx = raw.length;\n  for (const re of markers) { const mm = raw.match(re); if (mm && mm.index < idx) idx = mm.index; }\n  let reply = raw.slice(0, idx).replace(/\\n{3,}/g, '\\n\\n').trim();\n  reply = reply.split(/\\n-- \\n/)[0].trim();        // strip signature after a '-- ' delimiter\n\n  const from = j.from || (j.headers && j.headers.from) || '';\n  const email = String(from).match(/[\\w.+-]+@[\\w.-]+\\.[\\w.-]+/);\n\n  out.push({ json: {\n    task_id,\n    assignee_email: email ? email[0] : '',\n    reply_text: reply,\n    received_at: new Date().toISOString()\n  }});\n}\nreturn out;"
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Extract + Clean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vgeriftinzhuoivfavdp.supabase.co/functions/v1/inbound",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnZXJpZnRpbnpodW9pdmZhdmRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1ODY2NDYsImV4cCI6MjA5NzE2MjY0Nn0.QGhVwQoFndyU6A_HKyMSj8rOSu1pGIRyZJt_DyAmLTs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnZXJpZnRpbnpodW9pdmZhdmRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1ODY2NDYsImV4cCI6MjA5NzE2MjY0Nn0.QGhVwQoFndyU6A_HKyMSj8rOSu1pGIRyZJt_DyAmLTs" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "POST to /inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "notesInFlow": true,
      "notes": "URL is pre-filled with the deployed Supabase /inbound endpoint. Change it if you redeploy elsewhere."
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Subject contains tag?", "type": "main", "index": 0 }]]
    },
    "Subject contains tag?": {
      "main": [[{ "node": "Extract + Clean", "type": "main", "index": 0 }]]
    },
    "Extract + Clean": {
      "main": [[{ "node": "POST to /inbound", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
