n8n/outbound_workflow.json
{
  "name": "Tribeca Outbound (Calendar + Gmail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tribeca-task-outbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, 300],
      "webhookId": "tribeca-task-outbound"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-cal",
              "leftValue": "={{ $json.body.task_type }}",
              "rightValue": "calendar_event",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Is calendar_event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.body.datetime_start }}",
        "end": "={{ $json.body.datetime_end }}",
        "additionalFields": {
          "summary": "={{ $json.body.title }}",
          "description": "={{ $json.body.notes }}"
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [320, 180],
      "notesInFlow": true,
      "notes": "Re-attach Google Calendar OAuth credential after import. Select your calendar in the Calendar field."
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Webhook\"].json.body.assignee_email }}",
        "subject": "=[Tribeca Task #{{ $node[\"Webhook\"].json.body.task_id }}] {{ $node[\"Webhook\"].json.body.title }}",
        "emailType": "text",
        "message": "=Hi {{ $node[\"Webhook\"].json.body.assignee_name }},\n\nYou have a scheduled event: {{ $node[\"Webhook\"].json.body.title }}\nWhen: {{ $node[\"Webhook\"].json.body.datetime_start }} ({{ $node[\"Webhook\"].json.body.timezone }})\nPriority: {{ $node[\"Webhook\"].json.body.priority }}\n{{ $node[\"Webhook\"].json.body.notes }}\n\nReply to this email with any update — your reply will be recorded against this task.",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Send Email (Calendar)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [560, 180],
      "notesInFlow": true,
      "notes": "Re-attach Gmail OAuth credential after import. This SENDS the email (not a draft)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ task_id: $node[\"Webhook\"].json.body.task_id, status: \"notified\", calendar_event_link: $node[\"Create Calendar Event\"].json.htmlLink }) }}",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Respond (Calendar)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 180]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.assignee_email }}",
        "subject": "=[Tribeca Task #{{ $json.body.task_id }}] {{ $json.body.title }}",
        "emailType": "text",
        "message": "=Hi {{ $json.body.assignee_name }},\n\nReminder: {{ $json.body.title }}\nDue: {{ $json.body.datetime_start }} ({{ $json.body.timezone }})\nPriority: {{ $json.body.priority }}\n{{ $json.body.notes }}\n\nReply to this email with any update — your reply will be recorded against this task.",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Send Email (Reminder)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [320, 420],
      "notesInFlow": true,
      "notes": "Re-attach Gmail OAuth credential after import. This SENDS the email (not a draft)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ task_id: $node[\"Webhook\"].json.body.task_id, status: \"notified\", calendar_event_link: null }) }}",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Respond (Reminder)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Is calendar_event?", "type": "main", "index": 0 }]]
    },
    "Is calendar_event?": {
      "main": [
        [{ "node": "Create Calendar Event", "type": "main", "index": 0 }],
        [{ "node": "Send Email (Reminder)", "type": "main", "index": 0 }]
      ]
    },
    "Create Calendar Event": {
      "main": [[{ "node": "Send Email (Calendar)", "type": "main", "index": 0 }]]
    },
    "Send Email (Calendar)": {
      "main": [[{ "node": "Respond (Calendar)", "type": "main", "index": 0 }]]
    },
    "Send Email (Reminder)": {
      "main": [[{ "node": "Respond (Reminder)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
